nav {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 48px;
  padding: 4px 24px 4px 12px;
  gap: 220px;
  flex-shrink: 0;
  margin-top: 30px;
}

body {
  background-color: #f7f7f9;

  /* text-align: center; */
}

.logo {
  display: flex;
  padding: 10px 12px;
  align-items: center;
}

h1 {
  color: #6070ff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.menu {
  display: flex;
  padding: 8px;
  align-items: flex-start;
}

i {
  color: #6070ff;
  height: 28px;
}

.content {
  display: inline-flex;
  padding: 114px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background-image: url('assests/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#title {
  color: #172b4d;
  display: flex;
  width: 327px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

p {
  width: 327px;
  height: 146px;
  color: #344563;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#bttn {
  background-color: white;
  color: #7f8cff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border: none;
}

.icons {
  color: #505f79;
  width: 170.167px;
  height: 20px;
}

.SecondSection {
  margin-top: 22px;
  height: 750px;
  flex-shrink: 0;
  display: inline-flex;
  padding: 114px 40px;
  flex-direction: column;
  align-items: center;
  gap: 88px;
  background-color: #ebebff;
}

.inner {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 18px;
  border: 1px solid  #dfe1e6;
  background: #fff;
}

.portfolio {
  margin-top: 5px;
  border-radius: 8px;
  background: lightgray;
  background-repeat: no-repeat;
  width: 295px;
  height: 220px;
}

.heading {
  margin-top: 5px;
  width: 295px;
  height: 36px;
  color: #172b4d;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin-left: 16px;
}

.spans {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 12px;
  padding: 8px 0;
  color: #344563;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  width: auto;
  height: auto;
  position: relative;
  margin-left: -70px;
}

.para {
  margin-left: 15px;
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  width: 295px;
  height: 76px;
  padding: 8px;
}

.courses {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 20px;
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  position: relative;
  margin-right: 79px;
}

/* Target the first <span> */
div.courses span:nth-child(1) {
  border-radius: 6px;
  background: var(--primary-b-50, #ebebff);
}

/* Target the second <span> */
div.courses span:nth-child(2) {
  border-radius: 6px;
  background: var(--primary-b-50, #ebebff);
}

/* Target the third <span> */
div.courses span:nth-child(3) {
  border-radius: 6px;
  background: var(--primary-b-50, #ebebff);
}

.bttn2 {
  display: flex;
  border: 1px solid #616fe7;
  border-radius: 8px;
  padding: 12px;
  align-items: center;
  color: #396df2;
  font-size: 17px;
  position: relative;
  margin-left: -150px;
}

.myself {
  display: inline-flex;
  padding: 114px 15px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border: 0.5px solid lightgray;
  border-top-right-radius: 90px;
}

#uper {
  display: flex;
  width: 327px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

#uper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin: -15px;
}

.myself_btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  justify-content: left;
  margin-left: -150px;
}

#B {
  background-color: white;
  color: #7f8cff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border: none;
  padding: 6px;
}

#resume_btn {
  display: flex;
  padding: 12px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  position: relative;
  margin-left: -170px;
  color: var(--primary-b-500, #396df2);
  text-align: center;
}

.lang_bar {
  display: flex;
  padding: 16px 26px 16px 12px;
  align-items: left;
  gap: 12px;
  justify-content: space-between;
  margin-top: -5px;
}

#lang_ {
  width: 237px;
  height: 35px;
  color: #000;
  font-size: 22px;
  line-height: 24px;
  margin-left: 30px;
  font-weight: 700;
}

#down_ {
  width: 44px;
  height: 60px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}

.interset {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#java_logo {
  display: flex;
  width: 303px;
  padding: 9px 12px 9.716px 12px;
  justify-content: left;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: #f7f7f9;
}

#html_logo {
  display: flex;
  width: 303px;
  padding: 9px 12px 9.716px 12px;
  justify-content: left;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: #f7f7f9;
}

#css_logo {
  display: flex;
  width: 303px;
  padding: 9px 12px 9.716px 12px;
  justify-content: left;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: #f7f7f9;
}

.frame_work {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327px;
  height: 72px;
}

#frames {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-left: 25px;
}

#right {
  margin-right: 30px;
}

.Skill_ {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 327px;
  height: 72px;
  margin-top: -25px;
}

#Skills {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-left: 25px;
}

#right_arrow {
  margin-right: 30px;
}
.contact_form_container{

  position: relative;
  max-width: 24.98rem;
  height: 48.25rem;
  margin-top: 4rem;
  background-image: url(./assests/Contact\ me.png);
  background-size: cover;
}
.contact_form_container img{

  position: absolute;
  margin-top: 2.5rem;
  right: 0;
}
.container_content{
background-color: #6070FF;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.container_content h1{
  margin-top: 6rem;
  color: white;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.25rem;
}

.container_content p{
color: white;
margin-top: 1rem;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 1.75rem; 
}

form{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
form input{
  
  width: 20.4375rem;
  height: 3rem;
  flex-shrink: 0;
  padding-left: 0.7rem;
  border-radius: 0.6rem;
  border: none;
}

form textarea{
  width: 19.30rem;
  height: 10.625rem;
  flex-shrink: 0;
  z-index: 1;
  padding: 1rem 1rem ;
  color: black;
  border-radius: 0.6rem;
  border: none;
  
}
#form_btn{

  margin-top: 0.7rem;
  margin-left: 1.9rem;
  background-color: white;
  color:#6070FF;
  padding: 10px 20px;
  border: none;
  border-radius: 0.4rem;

}
